<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Osoby</title>
</head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>
<body>
<h1>Lista Osob</h1>
<table style="width:50%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
        {% for osoba in Osoby %}
            <tr>
                <td>{{ osoba.name }} </td>
                <td>{{ osoba.surname }}</td>
                <td>{{ osoba.age }}</td>
            </tr>
        {% endfor %}
</table>
</body>
</html>